# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

## Java
.mtj.tmp/
*.class
*.nar
hs_err_pid*
replay_pid*

# Intellij
*.iml
*.ipr
*.iws
.idea
*.log
*.bak
*.tmp
out/
.idea-workspace.xml
.idea-workspace/
.idea_caches/